.project .container {
  display: flex;
  justify-content: space-between;
}
.project__bar-content {
  width: 200px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 60px;
}
.project__bar {
  position: fixed;
  width: 100%;
}
.project__list {
  margin-left: 450px;
}
.project__list img {
  width: 100%;
}
.project__links li {
  list-style: none;
  padding: 15px 0;
}
.project__links button {
  background: none;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
}
.project__links button.active {
  border-bottom: 2px solid #6d4ed7;
  color: #6d4ed7;
}
.project__link {
  list-style: none;
  display: block;
  width: 100%;
  margin: 30px 0;
  position: relative;
}
.project__link img {
  overflow: hidden;
}
.project__overlay.active {
  position: absolute;
  background: rgba(0,0,0,0.8);
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 860px) {
  .project .container {
    justify-content: flex-start;
    flex-direction: column;
  }
  .project__bar-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    /* background: #eee; */
  }
  .project__bar {
    position: static;
  }
  .project__list {
    margin: 0;
  }
  .project__links {
    display: flex;
    margin: 30px 0;
  }
  .project__links li {
    list-style: none;
    padding: 0 15px;
  }
}

@media (max-width: 678px) {
  .project {
    margin-top: 10vh;
  }
}