.project .container {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.projecr__bar-content {
  width: 100%;
  width: 200px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 60px;
  /* background: #eee; */
}
.project__bar {
  position: fixed;
  width: 100%;
}
.project__list {
  margin-left: 300px;
}
.project__links li {
  list-style: none;
  padding: 15px 0;
}
.project__links button {
  background: none;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
}
.project__links a.active {
  border-bottom: 1px solid #000;
}

@media (max-width: 860px) {
  .project .container {
    justify-content: flex-start;
    flex-direction: column;
  }
  .projecr__bar-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 60px;
    /* background: #eee; */
  }
  .project__bar {
    position: static;
  }
  .project__list {
    margin: 0;
  }
}