form {
  background: #fff;
  color: #000;
  padding: 60px;
  display: flex;
  flex-direction: column;
  box-shadow: 28px 28px 150px 0 rgb(0 0 0 / 15%);
}
.form-paragraph {
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 15px;
}
.field-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 30px;
}
.field {
  margin-bottom: 15px;
}
form label {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 10px;
}
form input,
form textarea {
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px;
}
form textarea {
  min-height: 100px;
  resize: none;
}
form button {
  padding: 10px;
  border: none;
  margin-left: auto;
  background: #6d4ed7;
  color: #fff;
  border-radius: 3px;
  margin-top: 15px;
  cursor: pointer;
}
form button:hover {
  background: #251a59;
}

/* tablet - 768px */
@media (max-width: 768px) {
  form {
    padding: 30px;
  }
}

/* mobile landscape - 678px */
@media (max-width: 678px) {
  section,
  footer {
    padding: 30px 0;
  }
}

/* mobile portrait - 480px */
@media (max-width: 512px) {
  .container {
    padding: 0 15px;
  }
  .field-grid {
    grid-template-columns: 1fr;
  }
  form {
    padding: 15px;
  }
  form button {
    margin-left: 0;
  }
}