.banner {
  background: #6d4ed7;
  color: #fff;
  padding: 120px 0;
}
.banner span {
  display: inline-block;
  font-weight: 500;
  font-size: 1.3rem;
}
.banner h2 {
  font-size: 2rem;
  max-width: 450px;
  line-height: 1.2;
  margin: 20px 0;
}
.banner p {
  max-width: 50ch;
}
.banner .social-links {
  display: flex;
  list-style: none;
}
.banner .social-links li {
  margin: 30px 15px 0 0;
}

@media (max-width: 678px) {
  .banner {
    padding: 60px 0;
  }
}
