.navbar {
  background: #13192e;
}
.navbar .container {
  display: flex;
  align-items: center;
  height: 10vh;
}
.navbar .brand {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.navbar .brand img {
  width: 35px;
  margin-right: 5px;
}
.navbar ul {
  display: flex;
  align-items: center;
}
.navbar li {
  list-style: none;
  padding: 0 15px;
}
.navbar a {
  text-decoration: none;
  color: #fff;
}
.navbar a:hover {
  color: #6d4ed7;
}
.navbar .hi {
  border-radius: 6px;
  padding: 6px 18px;
  margin-left: 20px;
  background: #100e1d;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.navbar .hi:hover {
  background: #6d4ed7;
}
.navbar .toggler {
  display: none;
}

/* mobile landscape - 678px */
@media (max-width: 678px) {
  .navbar ul {
    background: #13192e;
    position: absolute;
    left: 0;
    top: 10vh;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar li {
    padding: 0;
    margin-left: 30px;
  }
  .navbar .hi {
    margin-left: none;
  }
  .navbar .toggler {
    display: initial;
  }
}
