.navbar {
  background: #13192e;
}
.navbar .container {
  display: flex;
  align-items: center;
  height: 10vh;
}
.navbar .brand {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.navbar .brand img {
  width: 35px;
  margin-right: 5px;
}
.navbar ul {
  display: flex;
  align-items: center;
}
.navbar .navbar__links {
  list-style: none;
  padding: 0 15px;
}
.navbar a {
  text-decoration: none;
  color: #fff;
}
.navbar a:hover {
  color: #6d4ed7;
}
.navbar .hi a:hover {
  color: #fff;
}
.navbar .hi {
  border-radius: 6px;
  padding: 6px 18px;
  margin-left: 20px;
  background: #100e1d;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.navbar .hi:hover {
  background: #6d4ed7;
  color: #fff;
}
.navbar .toggler {
  display: none;
}

/* mobile landscape - 678px */
@media (max-width: 678px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .navbar ul {
    position: fixed;
    background: #13192e;
    left: 0;
    top: 10vh;
    width: 100%;
    height: 90vh;
    z-index: 10;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .navbar .hi {
    border-radius: none;
    background: none;
    margin: 0;
    border: none;
  }
  .navbar .navbar__links {
    margin-left: 30px;
    padding: 0;
  }
  .navbar .hi:hover {
    background: none;
  }
  .navbar .toggler {
    display: initial;
  }
}

@media (max-width: 512px) {
  .navbar .navbar__links {
    margin-left: 20px;
  }
}
