.navbar {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.navbar.dark {
  background: #13192e;
}
.navbar .container {
  display: flex;
  align-items: center;
  height: 10vh;
}
.navbar .brand {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.navbar .brand span {
  font-weight: 500;
  font-size: 1.2rem;
}
.navbar .brand span.dark {
  color: #fff;
}
.navbar .brand img {
  width: 35px;
  margin-right: 5px;
}
.navbar ul {
  display: flex;
  align-items: center;
}
.navbar ul.dark {
  background: #13192e;
}
.navbar .navbar__links {
  list-style: none;
  padding: 0 15px;
}
.navbar a {
  text-decoration: none;
  color: #141414;
}
.navbar a.dark {
  text-decoration: none;
  color: #fff;
}
.navbar a:hover {
  color: #6d4ed7;
}
.navbar .hi {
  border-radius: 6px;
  padding: 6px 18px;
  margin-left: 10px;
  background: #6d4ed7;
  color: #fff;
  cursor: pointer;
}
.navbar .hi.dark {
  color: #fff;
}
.navbar .hi:hover  {
  color: #fff;
  background: #251a59;
}
.navbar .toggler {
  background: none;
  cursor: pointer;
  border: none;
  padding: 5px 7px;
  border-radius: 4px;
  display: none;
}

/* mobile landscape - 678px */
@media (max-width: 678px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  .navbar ul {
    position: fixed;
    background: #fff;
    left: 0;
    top: 10vh;
    width: 100%;
    height: 90vh;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .navbar .navbar__links {
    margin: 30px 0 30px 30px;
  }
  .navbar ul.dark {
    background: #13192e;
  }
  .navbar .hi {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
  }
  .navbar .hi.dark {
    color: #fff;
  }
  .navbar .navbar__links {
    margin-left: 30px;
    padding: 0;
  }
  .navbar .hi:hover {
    background: none;
  }
  .navbar .toggler {
    display: initial;
  }
}

@media (max-width: 512px) {
  .navbar .navbar__links {
    margin-left: 20px;
  }
}
