.navbar {
  background: #13192e;
}
.navbar .container {
  display: flex;
  align-items: center;
  height: 10vh;
}
.navbar .brand {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.navbar .brand img {
  width: 35px;
  margin-right: 5px;
}
.navbar ul {
  display: flex;
  align-items: center;
}
.navbar li {
  list-style: none;
  padding: 0 15px;
}
.navbar a {
  text-decoration: none;
  color: #fff;
}
.navbar a:hover {
  color: #6d4ed7;
}
.navbar .hi {
  border-radius: 6px;
  padding: 6px 18px;
  /* margin-left: 20px; */
  background: #100e1d;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.navbar .hi:hover {
  background: #6d4ed7;
}
