.service-list {
  margin-top: 30px;
}
.service-list__content li {
  list-style: none;
  margin-bottom: 30px;
}

.service-list__content .title {
  padding: 30px;
  background: #eee;
}

.service-list__content .title h3 {
  text-transform: uppercase;
}
