.project-heading {
  padding-bottom: 5px;
  font-size: 28px;
  max-width: 500px;
  line-height: 1;
  font-family: "DM Serif Display", serif;
}

.secondary {
  color: rgba(0, 0, 0, 0.7);
  padding-bottom: 60px;
}

.project-main-image {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 14px;
  gap: 30px;
}

.project-label {
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 10px;
  letter-spacing: 1px;
}

.project-text {
  color: rgba(0, 0, 0, 0.7);
  padding-bottom: 60px;
}

.project-description h2 {
  font-size: 20px;
  line-height: 1.1;
  padding-bottom: 30px;
}

.project-description p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  padding-bottom: 10px;
  line-height: 1.5;
}

.btn {
  display: flex;
  margin-top: 30px;
  padding: 10px 15px;
  background: #6d4ed7;
  border-radius: 5px;
  color: #fff;
}
.project-link img {
  margin-left: 5px;
}